DATABASE_URL=""
AUTH_SECRET=""
NEXT_PUBLIC_SITE_URL="https://tu-dominio.com"
APP_URL="https://tu-dominio.com"

NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=""
MERCADO_PAGO_ACCESS_TOKEN=""

NEXT_PUBLIC_CHAT_TITLE=""
NEXT_PUBLIC_CHAT_TEAM_NAME=""
NEXT_PUBLIC_CHAT_PLACEHOLDER=""
NEXT_PUBLIC_CHAT_NAME_PLACEHOLDER=""
NEXT_PUBLIC_CHAT_HINT_PRIMARY=""

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""

SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""
